<!DOCTYPE html>
<html lang="es">

<head>
        <title>QServicell</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&family=Days+One&display=swap"
                rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/style.css">
        <script src="https://kit.fontawesome.com/cfdfb90384.js" crossorigin="anonymous"></script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                crossorigin="anonymous">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-white static-top">
                <div class="container">
                        <a class="navbar-brand" href="../index.html">
                                <img src="../img/logo.png" alt="logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarResponsive">
                                <ul class="menu navbar-nav ml-auto">
                                        <li class="nav-item">
                                                <a class="menu__enlace nav-link" href="../index.html">Inicio</a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="menu__enlace nav-link" href="servicios.html">Servicios</a>
                                        </li>
                                        <li class="nav-item active">
                                                <a class="menu__enlace nav-link" href="galeria.html">Galería</a>
                                                <span class="sr-only">(current)</span>
                                        </li>
                                        <li class="nav-item">
                                                <a class="menu__enlace nav-link" href="nosotros.html">Nosotros</a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="menu__enlace nav-link" href="contacto.html">Contacto</a>
                                        </li>
                                </ul>
                        </div>
                </div>
        </nav>


        <div class="container">
                <div class="card border-0 shadow my-5">
                        <div class="card-body p-5">
                                <h2 class="card-body__titulo2">Galeria</h2>
                                <br>
                                <div class="galeria">
                                        <div class="galeria__img">
                                                <img src="../gal/gal1.jpg" style="width:100%;cursor:pointer"
                                                        onclick="onClick(this)" class="w3-hover-opacity">
                                        </div>
                                        <div class="galeria__img">
                                                <img src="../gal/gal2.jpg" style="width:100%;cursor:pointer"
                                                        onclick="onClick(this)" class="w3-hover-opacity">
                                        </div>
                                        <div class="galeria__img">
                                                <img src="../gal/gal3.jpg" style="width:100%;cursor:pointer"
                                                        onclick="onClick(this)" class="w3-hover-opacity">
                                        </div>
                                        <div class="galeria__img">
                                                <img src="../gal/gal4.jpg" style="width:100%;cursor:pointer"
                                                        onclick="onClick(this)" class="w3-hover-opacity">
                                        </div>
                                        <div class="galeria__img">
                                                <img src="../gal/gal5.jpg" style="width:100%;cursor:pointer"
                                                        onclick="onClick(this)" class="w3-hover-opacity">
                                        </div>
                                        <div class="galeria__img">
                                                <img src="../gal/gal6.jpg" style="width:100%;cursor:pointer"
                                                        onclick="onClick(this)" class="w3-hover-opacity">
                                        </div>
                                        <div class="galeria__img">
                                                <img src="../gal/gal7.jpg" style="width:100%;cursor:pointer"
                                                        onclick="onClick(this)" class="w3-hover-opacity">
                                        </div>
                                        <div class="galeria__img">
                                                <img src="../gal/gal8.jpg" style="width:100%;cursor:pointer"
                                                        onclick="onClick(this)" class="w3-hover-opacity">
                                        </div>
                                        <div class="galeria__img">
                                                <img src="../gal/gal9.jpg" style="width:100%;cursor:pointer"
                                                        onclick="onClick(this)" class="w3-hover-opacity">
                                        </div>
                                        <div class="galeria__img">
                                                <img src="../gal/gal10.jpg" style="width:100%;cursor:pointer"
                                                        onclick="onClick(this)" class="w3-hover-opacity">
                                        </div>
                                        <div class="galeria__img">
                                                <img src="../gal/gal11.jpg" style="width:100%;cursor:pointer"
                                                        onclick="onClick(this)" class="w3-hover-opacity">
                                        </div>
                                        <div class="galeria__img">
                                                <img src="../gal/gal12.jpg" style="width:100%;cursor:pointer"
                                                        onclick="onClick(this)" class="w3-hover-opacity">
                                        </div>
                                </div>

                                <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
                                        <span
                                                class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                                        <div class="w3-modal-content w3-animate-zoom">
                                                <img id="img01" style="width:100%">
                                        </div>
                                </div>

                        </div>
                </div>
        </div>

        <footer id="pie" class="py-4 bg-white">
                <div class="container text-center">
                        <small>Copyright &copy; Emmanuel Lagneau</small>
                </div>
        </footer>

        <!-- Optional JavaScript -->
        <script src="../assets/js/galeria.js"></script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
</body>

</html>