<!doctype html>
<html lang="es">

<head>
    <title>QServicell | Servicios</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Mis meta tags para SEO -->
    <meta name="description" content="Conocé todos los servicios que ofrecemos para tu smartphone o tablet.">
    <meta name="keywords" content="Servicios, trabajos, logistica, coordinación, problema, 
                falla, diagnostico, solución, reparación, configuración">
    <!-- fuentes e iconos -->
    <link
        href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&family=Days+One&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/cfdfb90384.js" crossorigin="anonymous"></script>
    <!-- Mi archivo de estilos CSS -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white static-top">
        <div class="container">
            <a class="navbar-brand" href="../index.html">
                <img src="../img/logo.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="menu navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="menu__enlace nav-link" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item active">
                        <a class="menu__enlace nav-link" href="servicios.html">Servicios</a>
                        <span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item">
                        <a class="menu__enlace nav-link" href="galeria.html">Galería</a>
                    </li>
                    <li class="nav-item">
                        <a class="menu__enlace nav-link" href="nosotros.html">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="menu__enlace nav-link" href="contacto.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <h2 class="card-body__titulo2">Servicio Técnico Hardware</h2>
                <br>
                <p class="card-body__parrafo">Debido a que contamos con repuestos originales en stock,
                    podemos asegurarte una rápida y especializada atención,
                    el precio de la reparación de su teléfono celular está
                    directamente ligado a la calidad de nuestros repuestos.
                    Para ofrecerle la solución acorde a tu problema ponete
                    en contacto para una atención especializada.
                    Algunas de las principales soluciones de hardware
                    para tu celular son:</p>
                <br>
                <div class="card lista">
                    <ul>
                        <li class="lista__item"> Reparación de Display y Pantallas táctiles</li>
                        <li class="lista__item"> Problemas con el Cable Flex o Cámara</li>
                        <li class="lista__item"> Cambio de Micrófonos o Campanillas</li>
                        <li class="lista__item"> Problemas con el PIN de carga o Cambio de
                            Batería</li>
                        <li class="lista__item"> Arreglo conectores USB y Soldado de Placas</li>
                        <li class="lista__item"> Arreglo / Reemplazo de Parlantes</li>
                        <li class="lista__item"> Problemas con los Botones</li>
                        <li class="lista__item"> Solución a tu equipo Mojado</li>
                        <li class="lista__item"> y mucho más, consultános</li>
                    </ul>
                </div>
                <br>
                <h2 class="card-body__titulo2">Servicio Técnico Hardware</h2>
                <br>
                <p class="card-body__parrafo">Si tienes problemas con la funcionalidad
                    o el sistema operativo de tu celular.
                    Contamos con el Software necesario para
                    realizar cualquier arreglo, dejando la
                    funcionalidad del celular operable al 100%.
                    Algunas de las principales Soluciones de
                    Software para tu celular son:</p>
                <br>
                <div class="card lista">
                    <ul>
                        <li class="lista__item">Downgrade, Actualización y Flasheo de Software o
                            Firmware</li>
                        <li class="lista__item">Configuración o Instalación de Aplicaciones,
                            GPS,
                            Utilidades y Juegos</li>
                        <li class="lista__item">Configuramos tu celular para un correcto
                            funcionamiento
                            en Argentina</li>
                        <li class="lista__item">Reinstalación del sistema operativo</li>
                    </ul>
                </div>
                <br>
                <h2 class="card-body__titulo2">Cómo trabajamos</h2>
                <br>
                <div class="contenedorServicios">
                    <div class="servicios">
                        <h3 class="servicios__numero">1</h3>
                        <p class="servicios__parrafo">Indicanos si tu dispositivo está en
                            garantía, si no es
                            así igual
                            podrás
                            continuar</p>
                    </div>
                    <div class="servicios">
                        <h3 class="servicios__numero">2</h3>
                        <p class="servicios__parrafo">Indicanos modelo y otros datos, detallanos
                            la falla, si
                            tenés dudas,
                            chateá
                            con
                            nosotros</p>
                    </div>
                    <div class="servicios">
                        <h3 class="servicios__numero">3</h3>
                        <p class="servicios__parrafo">Completá tus datos y coordinamos el
                            servicio de
                            logística</p>
                    </div>
                    <div class="servicios">
                        <h3 class="servicios__numero">4</h3>
                        <p class="servicios__parrafo">Diagnosticamos el problema, presupuestamos
                            y hacemos la
                            reparación
                        </p>
                    </div>
                    <div class="servicios">
                        <h3 class="servicios__numero">5</h3>
                        <p class="servicios__parrafo">¡Devolvemos tu dispositivo reparado!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="pie" class="py-4 bg-white">
        <div class="container text-center">
            <small>Copyright &copy; Emmanuel Lagneau</small>
        </div>
    </footer>

    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>