/*VARIABLES*/

$azul-claro: #3853A2;
$azul-oscuro: #1F2F3E;
$blanco: #fff;

/*General*/

body {
    background: linear-gradient(90deg, hsla(225, 49%, 43%, 0.384) 0%, hsla(225, 49%, 43%, 0.616) 80%), url(../gal/gal4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@media (max-width:990px) {
    .navbar-brand>img {
        width: 80%;
    }

    .card-body__titulo2,
    .card-body__titulo1 {
        font-size: 26px;
    }
}

@media (max-width:768px) {
    .navbar-brand>img {
        width: 50%;
    }

    .card-body__titulo2,
    .card-body__titulo1 {
        font-size: 20px;
    }
}

/* hover del menu */
.menu__enlace {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.menu__enlace:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $azul-claro;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.menu__enlace:hover,
.menu__enlace:focus,
.menu__enlace:active {
    color: white;
}

.menu__enlace:hover:before,
.menu__enlace:focus:before,
.menu__enlace:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* INICIO */
.portada {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imgPortada {
    width: 30%;
}

/* GALERIA */
.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}

/*SERVICIOS*/
.contenedorServicios {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media (max-width:990px) {
    .servicios {
        width: 30%;
    }
}

@media (max-width:768px) {
    .servicios {
        width: 49%;
    }
}

@media (max-width:430px) {
    .servicios {
        width: 75%;
    }
}



/*NOSOTROS*/
.carousel {
    padding-top: 50px;
}

.carousel-item {
    padding-bottom: 150px;
}

@media (max-width:990px) {
    .carousel-item {
        padding-bottom: 180px;
    }
}

@media (max-width:768px) {
    .carousel-item {
        padding-bottom: 210px;
    }
}

@media (max-width:430px) {
    .carousel-item {
        padding-bottom: 240px;
    }
}

@media (max-width:300px) {
    .carousel-item {
        padding-bottom: 270px;
    }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(1);
}

.carousel-item__imgtest {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/*CONTACTO*/
.formulario {
    width: 50%;
    margin: 0 auto;
}

textarea {
    width: 50%;
    height: 100px;
}

@media (max-width:990px) {

    .formulario,
    textarea {
        width: 80%;
    }
}

@media (max-width:768px) {

    .formulario,
    textarea {
        width: 99%;
    }
}

/*Estructura BEM*/
.card-body__titulo1 {
    font-family: 'Days One', sans-serif;
}

.card-body__titulo2,
.card-body__parrafo,
.menu__enlace,
.servicios__parrafo,
.servicios__numero,
.lista__item,
.carousel-item__titulo,
.carousel-item__parrafo,
.formulario__etiqueta {
    font-family: 'Arimo', sans-serif;
}

.card-body__parrafo {
    text-align: justify;
}

.card-body__titulo1,
.card-body__titulo2 {
    font-weight: bolder;
    text-align: center;
}

.card-body__titulo1 {
    color: $azul-claro;
}

.card-body__titulo2 {
    color: $azul-oscuro;
}

.servicios {
    width: 18%;
    padding-left: 5px;
    text-align: center;
    object-fit: cover;
    display: block;
}

.servicios__numero {
    background: linear-gradient(90deg, $azul-oscuro 35%, $azul-claro 100%);
    color: $blanco;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
}

.lista {
    padding: 20px;
    background: $azul-oscuro;
    background: linear-gradient(90deg, $azul-oscuro 35%, $azul-claro 100%);
}

.lista__item {
    color: $blanco;
}